<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdxStudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GoNat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kikaboni.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MukthaTv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Odisha360.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OnGO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SISI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StoreOnGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15371EDD1728E3B400A508F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADF9F21D9255C600951D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA3982271C1A0818007E6341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA593DEC1C7203A80020FA3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8212231C3EF44D00E11E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8212C31C3EF8E100E11E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB4F3CB1C27248600E0DBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB4F46C1C303F8000E0DBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
